/* line 8 */
.weekly-calendar {
  position: relative;
  float: left;
  margin: 25px;
}
/* line 14 */
.weekly-calendar table.backdrop th, .weekly-calendar table.backdrop td {
  padding: 0;
}
/* line 17 */
.weekly-calendar table.backdrop th {
  width: 150px;
  height: 20px;
}
/* line 21 */
.weekly-calendar table.backdrop th.hour {
  width: 50px;
}
/* line 25 */
.weekly-calendar table.backdrop tbody tr {
  height: 15px;
  font-size: 12px;
}
/* line 29 */
.weekly-calendar table.backdrop tbody tr.hour {
  border-top: 1px solid gray;
}
/* line 32 */
.weekly-calendar table.backdrop tbody tr.half-hour {
  border-top: 1px dashed lightgrey;
}
/* line 35 */
.weekly-calendar .schedule {
  position: absolute;
  top: 20px;
  left: 50px;
}
/* line 40 */
.weekly-calendar .schedule .weekday {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 45 */
.weekly-calendar .schedule .weekday.monday {
  left: 0px;
}
/* line 47 */
.weekly-calendar .schedule .weekday.tuesday {
  left: 150px;
}
/* line 49 */
.weekly-calendar .schedule .weekday.wednesday {
  left: 300px;
}
/* line 51 */
.weekly-calendar .schedule .weekday.thursday {
  left: 450px;
}
/* line 53 */
.weekly-calendar .schedule .weekday.friday {
  left: 600px;
}
/* line 57 */
.weekly-calendar .schedule .weekday .period {
  position: absolute;
  top: 0px;
  width: 130px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 65 */
.weekly-calendar .schedule .weekday .period.period-1 {
  background-color: #f26c4f;
}
/* line 68 */
.weekly-calendar .schedule .weekday .period.period-2 {
  background-color: #fff467;
}
/* line 71 */
.weekly-calendar .schedule .weekday .period.period-3 {
  background-color: #3bb878;
}
/* line 74 */
.weekly-calendar .schedule .weekday .period.period-4 {
  background-color: #00bff3;
}
/* line 77 */
.weekly-calendar .schedule .weekday .period.period-5 {
  background-color: #f06ea9;
}
/* line 80 */
.weekly-calendar .schedule .weekday .period.period-6 {
  background-color: #fbaf5c;
}
/* line 83 */
.weekly-calendar .schedule .weekday .period.period-7 {
  background-color: #855fa8;
}
/* line 86 */
.weekly-calendar .schedule .weekday .period.period-8 {
  background-color: #1abbb4;
}
/* line 89 */
.weekly-calendar .schedule .weekday .period.period-9 {
  background-color: #f26d7d;
}
/* line 92 */
.weekly-calendar .schedule .weekday .period.period-10 {
  background-color: #00bff3;
}
/* line 95 */
.weekly-calendar .schedule .weekday .period.period-11 {
  background-color: #5574b9;
}
/* line 98 */
.weekly-calendar .schedule .weekday .period.period-12 {
  background-color: #605ca8;
}
/* line 101 */
.weekly-calendar .schedule .weekday .period.period-13 {
  background-color: #a763a8;
}
/* line 104 */
.weekly-calendar .schedule .weekday .period.period-14 {
  background-color: #acd372;
}
/* line 107 */
.weekly-calendar .schedule .weekday .period.period-15 {
  background-color: #f68e55;
}
/* line 110 */
.weekly-calendar .schedule .weekday .period.period-16 {
  background-color: #438cca;
}
/* line 113 */
.weekly-calendar .schedule .weekday .period.period-17 {
  background-color: #7cc576;
}
/* line 116 */
.weekly-calendar .schedule .weekday .period.from-0800 {
  top: 0px;
}
/* line 118 */
.weekly-calendar .schedule .weekday .period.from-0815 {
  top: 7px;
}
/* line 120 */
.weekly-calendar .schedule .weekday .period.from-0830 {
  top: 15px;
}
/* line 122 */
.weekly-calendar .schedule .weekday .period.from-0845 {
  top: 22px;
}
/* line 124 */
.weekly-calendar .schedule .weekday .period.from-0900 {
  top: 30px;
}
/* line 126 */
.weekly-calendar .schedule .weekday .period.from-0915 {
  top: 37px;
}
/* line 128 */
.weekly-calendar .schedule .weekday .period.from-0930 {
  top: 45px;
}
/* line 130 */
.weekly-calendar .schedule .weekday .period.from-0945 {
  top: 52px;
}
/* line 132 */
.weekly-calendar .schedule .weekday .period.from-1000 {
  top: 60px;
}
/* line 134 */
.weekly-calendar .schedule .weekday .period.from-1015 {
  top: 67px;
}
/* line 136 */
.weekly-calendar .schedule .weekday .period.from-1030 {
  top: 75px;
}
/* line 138 */
.weekly-calendar .schedule .weekday .period.from-1045 {
  top: 82px;
}
/* line 140 */
.weekly-calendar .schedule .weekday .period.from-1100 {
  top: 90px;
}
/* line 142 */
.weekly-calendar .schedule .weekday .period.from-1115 {
  top: 97px;
}
/* line 144 */
.weekly-calendar .schedule .weekday .period.from-1130 {
  top: 105px;
}
/* line 146 */
.weekly-calendar .schedule .weekday .period.from-1145 {
  top: 112px;
}
/* line 148 */
.weekly-calendar .schedule .weekday .period.from-1200 {
  top: 120px;
}
/* line 150 */
.weekly-calendar .schedule .weekday .period.from-1215 {
  top: 127px;
}
/* line 152 */
.weekly-calendar .schedule .weekday .period.from-1230 {
  top: 135px;
}
/* line 154 */
.weekly-calendar .schedule .weekday .period.from-1245 {
  top: 142px;
}
/* line 156 */
.weekly-calendar .schedule .weekday .period.from-1300 {
  top: 150px;
}
/* line 158 */
.weekly-calendar .schedule .weekday .period.from-1315 {
  top: 157px;
}
/* line 160 */
.weekly-calendar .schedule .weekday .period.from-1330 {
  top: 165px;
}
/* line 162 */
.weekly-calendar .schedule .weekday .period.from-1345 {
  top: 172px;
}
/* line 164 */
.weekly-calendar .schedule .weekday .period.from-1400 {
  top: 180px;
}
/* line 166 */
.weekly-calendar .schedule .weekday .period.from-1415 {
  top: 187px;
}
/* line 168 */
.weekly-calendar .schedule .weekday .period.from-1430 {
  top: 195px;
}
/* line 170 */
.weekly-calendar .schedule .weekday .period.from-1445 {
  top: 202px;
}
/* line 172 */
.weekly-calendar .schedule .weekday .period.from-1500 {
  top: 210px;
}
/* line 174 */
.weekly-calendar .schedule .weekday .period.from-1515 {
  top: 217px;
}
/* line 176 */
.weekly-calendar .schedule .weekday .period.from-1530 {
  top: 225px;
}
/* line 178 */
.weekly-calendar .schedule .weekday .period.from-1545 {
  top: 232px;
}
/* line 180 */
.weekly-calendar .schedule .weekday .period.from-1600 {
  top: 240px;
}
/* line 182 */
.weekly-calendar .schedule .weekday .period.from-1615 {
  top: 247px;
}
/* line 184 */
.weekly-calendar .schedule .weekday .period.from-1630 {
  top: 255px;
}
/* line 186 */
.weekly-calendar .schedule .weekday .period.from-1645 {
  top: 262px;
}
/* line 188 */
.weekly-calendar .schedule .weekday .period.from-1700 {
  top: 270px;
}
/* line 190 */
.weekly-calendar .schedule .weekday .period.from-1715 {
  top: 277px;
}
/* line 192 */
.weekly-calendar .schedule .weekday .period.from-1730 {
  top: 285px;
}
/* line 194 */
.weekly-calendar .schedule .weekday .period.from-1745 {
  top: 292px;
}
/* line 196 */
.weekly-calendar .schedule .weekday .period.from-1800 {
  top: 300px;
}
/* line 198 */
.weekly-calendar .schedule .weekday .period.from-1815 {
  top: 307px;
}
/* line 200 */
.weekly-calendar .schedule .weekday .period.from-1830 {
  top: 315px;
}
/* line 202 */
.weekly-calendar .schedule .weekday .period.from-1845 {
  top: 322px;
}
/* line 204 */
.weekly-calendar .schedule .weekday .period.from-1900 {
  top: 330px;
}
/* line 206 */
.weekly-calendar .schedule .weekday .period.from-1915 {
  top: 337px;
}
/* line 208 */
.weekly-calendar .schedule .weekday .period.from-1930 {
  top: 345px;
}
/* line 210 */
.weekly-calendar .schedule .weekday .period.from-1945 {
  top: 352px;
}
/* line 212 */
.weekly-calendar .schedule .weekday .period.from-2000 {
  top: 360px;
}
/* line 214 */
.weekly-calendar .schedule .weekday .period.from-2015 {
  top: 367px;
}
/* line 216 */
.weekly-calendar .schedule .weekday .period.from-2030 {
  top: 375px;
}
/* line 218 */
.weekly-calendar .schedule .weekday .period.from-2045 {
  top: 382px;
}
/* line 220 */
.weekly-calendar .schedule .weekday .period.from-2100 {
  top: 390px;
}
/* line 222 */
.weekly-calendar .schedule .weekday .period.from-2115 {
  top: 397px;
}
/* line 224 */
.weekly-calendar .schedule .weekday .period.from-2130 {
  top: 405px;
}
/* line 226 */
.weekly-calendar .schedule .weekday .period.from-2145 {
  top: 412px;
}
/* line 228 */
.weekly-calendar .schedule .weekday .period.from-2200 {
  top: 420px;
}
/* line 230 */
.weekly-calendar .schedule .weekday .period.from-2215 {
  top: 427px;
}
/* line 232 */
.weekly-calendar .schedule .weekday .period.from-2230 {
  top: 435px;
}
/* line 234 */
.weekly-calendar .schedule .weekday .period.from-2245 {
  top: 442px;
}
/* line 236 */
.weekly-calendar .schedule .weekday .period.from-2300 {
  top: 450px;
}
/* line 238 */
.weekly-calendar .schedule .weekday .period.from-2315 {
  top: 457px;
}
/* line 240 */
.weekly-calendar .schedule .weekday .period.from-2330 {
  top: 465px;
}
/* line 242 */
.weekly-calendar .schedule .weekday .period.from-2345 {
  top: 472px;
}
/* line 245 */
.weekly-calendar .schedule .weekday .period.duration-0000 {
  height: -10px;
}
/* line 247 */
.weekly-calendar .schedule .weekday .period.duration-0015 {
  height: -3px;
}
/* line 249 */
.weekly-calendar .schedule .weekday .period.duration-0030 {
  height: 5px;
}
/* line 251 */
.weekly-calendar .schedule .weekday .period.duration-0045 {
  height: 12px;
}
/* line 253 */
.weekly-calendar .schedule .weekday .period.duration-0100 {
  height: 20px;
}
/* line 255 */
.weekly-calendar .schedule .weekday .period.duration-0115 {
  height: 27px;
}
/* line 257 */
.weekly-calendar .schedule .weekday .period.duration-0130 {
  height: 35px;
}
/* line 259 */
.weekly-calendar .schedule .weekday .period.duration-0145 {
  height: 42px;
}
/* line 261 */
.weekly-calendar .schedule .weekday .period.duration-0200 {
  height: 50px;
}
/* line 263 */
.weekly-calendar .schedule .weekday .period.duration-0215 {
  height: 57px;
}
/* line 265 */
.weekly-calendar .schedule .weekday .period.duration-0230 {
  height: 65px;
}
/* line 267 */
.weekly-calendar .schedule .weekday .period.duration-0245 {
  height: 72px;
}
/* line 269 */
.weekly-calendar .schedule .weekday .period.duration-0300 {
  height: 80px;
}
/* line 271 */
.weekly-calendar .schedule .weekday .period.duration-0315 {
  height: 87px;
}
/* line 273 */
.weekly-calendar .schedule .weekday .period.duration-0330 {
  height: 95px;
}
/* line 275 */
.weekly-calendar .schedule .weekday .period.duration-0345 {
  height: 102px;
}
/* line 277 */
.weekly-calendar .schedule .weekday .period.duration-0400 {
  height: 110px;
}
/* line 279 */
.weekly-calendar .schedule .weekday .period.duration-0415 {
  height: 117px;
}
/* line 281 */
.weekly-calendar .schedule .weekday .period.duration-0430 {
  height: 125px;
}
/* line 283 */
.weekly-calendar .schedule .weekday .period.duration-0445 {
  height: 132px;
}
/* line 285 */
.weekly-calendar .schedule .weekday .period.duration-0500 {
  height: 140px;
}
/* line 287 */
.weekly-calendar .schedule .weekday .period.duration-0515 {
  height: 147px;
}
/* line 289 */
.weekly-calendar .schedule .weekday .period.duration-0530 {
  height: 155px;
}
/* line 291 */
.weekly-calendar .schedule .weekday .period.duration-0545 {
  height: 162px;
}
/* line 293 */
.weekly-calendar .schedule .weekday .period.duration-0600 {
  height: 170px;
}
/* line 295 */
.weekly-calendar .schedule .weekday .period.duration-0615 {
  height: 177px;
}
/* line 297 */
.weekly-calendar .schedule .weekday .period.duration-0630 {
  height: 185px;
}
/* line 299 */
.weekly-calendar .schedule .weekday .period.duration-0645 {
  height: 192px;
}
/* line 301 */
.weekly-calendar .schedule .weekday .period.duration-0700 {
  height: 200px;
}
/* line 303 */
.weekly-calendar .schedule .weekday .period.duration-0715 {
  height: 207px;
}
/* line 305 */
.weekly-calendar .schedule .weekday .period.duration-0730 {
  height: 215px;
}
/* line 307 */
.weekly-calendar .schedule .weekday .period.duration-0745 {
  height: 222px;
}
/* line 309 */
.weekly-calendar .schedule .weekday .period.duration-0800 {
  height: 230px;
}
/* line 311 */
.weekly-calendar .schedule .weekday .period.duration-0815 {
  height: 237px;
}
/* line 313 */
.weekly-calendar .schedule .weekday .period.duration-0830 {
  height: 245px;
}
/* line 315 */
.weekly-calendar .schedule .weekday .period.duration-0845 {
  height: 252px;
}
/* line 317 */
.weekly-calendar .schedule .weekday .period.duration-0900 {
  height: 260px;
}
/* line 319 */
.weekly-calendar .schedule .weekday .period.duration-0915 {
  height: 267px;
}
/* line 321 */
.weekly-calendar .schedule .weekday .period.duration-0930 {
  height: 275px;
}
/* line 323 */
.weekly-calendar .schedule .weekday .period.duration-0945 {
  height: 282px;
}
/* line 325 */
.weekly-calendar .schedule .weekday .period.duration-1000 {
  height: 290px;
}
/* line 327 */
.weekly-calendar .schedule .weekday .period.duration-1015 {
  height: 297px;
}
/* line 329 */
.weekly-calendar .schedule .weekday .period.duration-1030 {
  height: 305px;
}
/* line 331 */
.weekly-calendar .schedule .weekday .period.duration-1045 {
  height: 312px;
}
/* line 333 */
.weekly-calendar .schedule .weekday .period.duration-1100 {
  height: 320px;
}
/* line 335 */
.weekly-calendar .schedule .weekday .period.duration-1115 {
  height: 327px;
}
/* line 337 */
.weekly-calendar .schedule .weekday .period.duration-1130 {
  height: 335px;
}
/* line 339 */
.weekly-calendar .schedule .weekday .period.duration-1145 {
  height: 342px;
}
/* line 341 */
.weekly-calendar .schedule .weekday .period.duration-1200 {
  height: 350px;
}
/* line 343 */
.weekly-calendar .schedule .weekday .period.duration-1215 {
  height: 357px;
}
/* line 345 */
.weekly-calendar .schedule .weekday .period.duration-1230 {
  height: 365px;
}
/* line 347 */
.weekly-calendar .schedule .weekday .period.duration-1245 {
  height: 372px;
}
/* line 349 */
.weekly-calendar .schedule .weekday .period.duration-1300 {
  height: 380px;
}
/* line 351 */
.weekly-calendar .schedule .weekday .period.duration-1315 {
  height: 387px;
}
/* line 353 */
.weekly-calendar .schedule .weekday .period.duration-1330 {
  height: 395px;
}
/* line 355 */
.weekly-calendar .schedule .weekday .period.duration-1345 {
  height: 402px;
}
/* line 357 */
.weekly-calendar .schedule .weekday .period.duration-1400 {
  height: 410px;
}
/* line 359 */
.weekly-calendar .schedule .weekday .period.duration-1415 {
  height: 417px;
}
/* line 361 */
.weekly-calendar .schedule .weekday .period.duration-1430 {
  height: 425px;
}
/* line 363 */
.weekly-calendar .schedule .weekday .period.duration-1445 {
  height: 432px;
}
/* line 365 */
.weekly-calendar .schedule .weekday .period.duration-1500 {
  height: 440px;
}
/* line 367 */
.weekly-calendar .schedule .weekday .period.duration-1515 {
  height: 447px;
}
/* line 369 */
.weekly-calendar .schedule .weekday .period.duration-1530 {
  height: 455px;
}
/* line 371 */
.weekly-calendar .schedule .weekday .period.duration-1545 {
  height: 462px;
}
/* line 375 */
.weekly-calendar .schedule .weekday .period .hour {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}
/* line 380 */
.weekly-calendar .schedule .weekday .period .title .course {
  font-size: 14px;
}
/* line 382 */
.weekly-calendar .schedule .weekday .period .title .type {
  font-size: 12px;
}
