!!!
%html
  %head
    %title ÉTS - Horaire
    %link{rel: "stylesheet", type: "text/css", href: "css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/stylesheet.css"}
  %body
    = content